.Task {
    @include flexContainer(row, center, space-between);
    background-color: var(--secondary-color);
    width: 18rem;
    min-height: 3rem;
    border-radius: .3rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: .11rem solid var(--lt-light-grayish-blue);
    z-index: 999;

    &__radio {
        border: .1rem solid var(--lt-very-light-gray);
        width: 1.2rem;
        height: 1.2rem;
        z-index: 999;
        transform: translateX(1rem);

        &:checked {
            background-image: url("../assets/icon-check.svg");
        }
    } 

    &__text--uncompleted {
        flex: 3;
        font-weight: var(--font-weigth-bold);
        font-size: .8rem;
        color: var(--lt-very-dark-grayish-blue);
        max-width: 4.5rem;
    }

    &__text--completed {
        flex: 3;
        font-weight: var(--font-weigth-bold);
        font-size: .8rem;
        color: var(--lt-light-grayish-blue);
        text-decoration: line-through;
        max-width: 4.5rem;
    }
    
    &__btn {
        width: .5rem;
        height: .5rem;
        transform: translateX(-1.5rem) translateY(-.2rem);
    }
}

@media screen and (min-width: 1024px) {
    .Task {
        width: 30rem;
        max-width: 30rem;

        &__text {
            padding-left: 0;
            transform: translateX(-10.6rem) translateY(.1rem);
        }
    }
}