/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/* Variables */
:root {
    /* Color palette */
    --primary-color: hsl(220, 98%, 61%);
    --secondary-color: rgb(255, 255, 255);
    --check-background: linear-gradient(90deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%);
    --box-shadow: hsla(210, 75%, 27%, 0.1);

    /* Light Theme */
    --lt-very-light-gray: hsl(0, 0%, 98%);
    --lt-very-light-grayish-blue: hsl(236, 33%, 92%);
    --lt-light-grayish-blue: hsl(233, 11%, 84%);
    --lt-dark-grayish-blue: hsl(237, 9%, 61%);
    --lt-very-dark-grayish-blue: hsl(235, 19%, 35%);

    /* Dark Theme */
    --dt-very-dark-blue: hsl(235, 21%, 11%);
    --dt-very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --dt-light-grayish-blue: hsl(234, 39%, 85%);
    --dt-light-grayish-blue-hover: hsl(236, 33%, 92%);
    --dt-dark-grayish-blue: hsl(234, 11%, 52%);
    --dt-very-dark-grayish-blue: hsl(233, 14%, 35%);
    --dt-very-very-dark-grayish-blue: hsl(237, 14%, 26%);

    /* Typography */
    --primary-font: 'Josefin Sans', sans-serif;

    --font-weigth-normal: 400;
    --font-weigth-bold: 700;

    --atributtion-font-size: 0.6875rem;
    --link-color: hsl(228, 45%, 44%);

    font-size: 18px;
}

/* Reusable Code */
@mixin flexContainer($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

/* Mobile 320px */
/* Base */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    background-color: var(--lt-very-light-gray);
}

a {
    color: var(--link-color); 
}

button {
    background: none;
    border: none;

    &:hover {
        cursor: pointer;
    }
}


/* Layout - 375px Mobile Medium */

.App {
    @include flexContainer(column, center, center);
}

/* Modules - 375px Mobile Medium */
@import "./Header";
@import "./Content";
@import "./Task";
@import "./List";
@import "./Filter";
@import "./Footer";

/*  */